// 全局的布局样式
.wrapper-x {
    overflow-y: hidden;
}
.wrapper-y {
    overflow-x: hidden;
}
.layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // 左侧
    &__side {
        float: left;
        width: 200px;
        height: 100%;
        transition: width 0.3s;
        background-color: $-color--bg;
        .logo {
            width: 80%;
            margin: 0 auto;
            height: $height-nav;
            object-fit: contain;
        }
        .el-menu {
            border-right: none !important;
        }
        .el-scrollbar {
            height: calc(100% - #{$height-nav});
        }
    }
    // 右侧
    &__box {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        transition: margin-left .3s;
        background-color: #fff;
        height: 100%;
        overflow: hidden;
        &>.el-scrollbar{
            flex:1;
        }
    }
    // 导航
    &__nav {
        height: $height-nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: $-color--bg;
        color: #fff;
        &-left {
            display: flex;
            align-items: center;
            .icon {
                font-size: 20px;
                cursor: pointer;
            }
            .el-breadcrumb {
                margin-left: 20px;
                .el-breadcrumb__inner {
                    font-weight: normal;
                    &:not(:hover) {
                        color:#fff;
                    }
                }
            }
        }
        &-right {
            display: flex;
            align-items: center;
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
            }
            .el-dropdown {
                cursor: pointer;
                color: #fff;
            }
        }
    }
    // 主体内容区
    &__content {
        box-sizing: border-box;
        padding: 20px;
    }
}

.layout.collapse {
    // 收起的时候左侧菜单树的样式修复
    .layout__side {
        width: 60px;
        .el-submenu {
            & > .el-submenu__title {
                &  > span {
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                    display: inline-block;
                }
                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }
    }
    .layout__box {
        margin-left: 60px;
    }
}