// 全局的布局样式
.layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: $-color--bg;
    // 左侧
    &__side {
        float: left;
        width: 200px;
        height: 100%;
        transition: width 0.3s;
        background-color: $-color--bg;
        .logo {
            width: 80%;
            margin: 0 auto;
            height: $height-nav;
            object-fit: contain;
        }
        .el-menu {
            border-right: none !important;
        }
        .el-scrollbar {
            height: calc(100% - #{$height-nav});
        }
        .menu-wrapper {
            overflow-x: hidden;
        }
    }
    // 右侧
    &__box {
        margin-left: 200px;
        transition: margin-left .3s;
    }
    // 导航
    &__nav {
        height: $height-nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: $-color--bg;
        color: #fff;
        &-left {
            display: flex;
            align-items: center;
            .icon {
                font-size: 20px;
                cursor: pointer;
            }
            .el-breadcrumb {
                margin-left: 20px;
                .el-breadcrumb__inner {
                    font-weight: normal;
                    &:not(:hover) {
                        color:#fff;
                    }
                }
            }
        }
        &-right {
            display: flex;
            align-items: center;
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
            }
            .el-dropdown {
                cursor: pointer;
                color: #fff;
            }
        }
    }
    // 主体内容区
    &__content {
        box-sizing: border-box;
        background-color: #fff;
        padding: 20px;
        height: calc(100vh - #{$height-nav} - #{$height-tag});
    }
}

.layout.collapse {
    .layout__side {
        width: 60px;
    }
    .layout__box {
        margin-left: 60px;
    }
}